[submodule "utils/cobbzilla-parent"]
	path = utils/cobbzilla-parent
	url = git@git.bubblev.org:bubblev/cobbzilla-parent.git
[submodule "utils/cobbzilla-utils"]
	path = utils/cobbzilla-utils
	url = git@git.bubblev.org:bubblev/cobbzilla-utils.git
[submodule "utils/cobbzilla-wizard"]
	path = utils/cobbzilla-wizard
	url = git@git.bubblev.org:bubblev/cobbzilla-wizard.git
[submodule "utils/templated-mail-sender"]
	path = utils/templated-mail-sender
	url = git@git.bubblev.org:bubblev/templated-mail-sender.git
[submodule "bubble-web"]
	path = bubble-web
	url = git@git.bubblev.org:bubblev/bubble-web.git
[submodule "utils/abp-parser"]
	path = utils/abp-parser
	url = git@git.bubblev.org:bubblev/abp-parser.git
[submodule "bubble-server/src/main/resources/messages"]
	path = bubble-server/src/main/resources/messages
	url = git@git.bubblev.org:bubblev/bubble-messages.git
