<!-- Copyright (c) 2020 Bubble, Inc. All rights reserved. For personal (non-commercial) use, see license: https://bubblev.com/bubble-license/ -->
<configuration>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <!-- reset all previous level configurations of all j.u.l. loggers -->
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.err</Target>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%level] [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.hibernate" level="WARN" />
    <logger name="org.hibernate.type" level="WARN" />
    <logger name="com.mchange" level="WARN" />
    <logger name="org.quartz" level="WARN" />
    <logger name="org.springframework" level="WARN" />
    <logger name="org.apache.http" level="WARN" />
    <logger name="org.apache.pdfbox.pdmodel.font" level="ERROR" />
    <logger name="org.cobbzilla" level="WARN" />
    <logger name="org.cobbzilla.util.security.bcrypt" level="ERROR" />
    <logger name="org.cobbzilla.util.javascript" level="INFO" />
    <logger name="org.cobbzilla.util.handlebars" level="INFO" />
    <logger name="org.cobbzilla.util.yml" level="ERROR" />
    <logger name="org.cobbzilla.util.daemon.ZillaRuntime" level="WARN" />
    <logger name="org.cobbzilla.wizard.server" level="WARN" />
    <logger name="org.cobbzilla.wizard.client" level="WARN" />
    <logger name="org.cobbzilla.wizard.client.script" level="INFO" />
    <logger name="org.cobbzilla.wizard.model.entityconfig.ModelSetup" level="INFO" />
    <logger name="org.cobbzilla.wizard.resources.AbstractEntityConfigsResource" level="ERROR" />
    <logger name="org.cobbzilla.wizard.resources.ResourceUtil" level="ERROR" />
    <logger name="org.cobbzilla.wizardtest.resources" level="INFO" />
    <logger name="org.glassfish.jersey.grizzly" level="WARN" />
    <logger name="bubble.cloud.email.SmtpEmailDriver" level="WARN" />
    <logger name="org.cobbzilla.wizard.dao.AbstractCRUDDAO" level="WARN" />
<!--    <logger name="org.cobbzilla.wizard.dao.SqlViewSearchHelper" level="DEBUG" />-->
    <logger name="org.cobbzilla.wizard.server.listener.BrowserLauncherListener" level="INFO" />
    <logger name="bubble.service.notify.NotificationService" level="WARN" />
    <logger name="bubble.rule.bblock.BubbleBlockRuleDriver" level="INFO" />
    <logger name="bubble.rule.analytics.TrafficAnalyticsRuleDriver" level="DEBUG" />
<!--    <logger name="org.cobbzilla.util.io.multi.MultiStream" level="TRACE" />-->
<!--    <logger name="bubble.filters.BubbleRateLimitFilter" level="TRACE" />-->
<!--    <logger name="org.cobbzilla.wizard.filters.RateLimitFilter" level="TRACE" />-->
<!--    <logger name="bubble.service.stream.StandardRuleEngineService" level="DEBUG" />-->
    <logger name="bubble.service.stream.ActiveStreamState" level="INFO" />
    <logger name="bubble.resources.stream" level="DEBUG" />
    <logger name="bubble.resources.stream.FilterHttpResource" level="TRACE" />
<!--    <logger name="bubble.resources.stream.FilterHttpResource" level="INFO" />-->
    <logger name="bubble.service.stream" level="INFO" />
<!--    <logger name="bubble.service.account.StandardAccountMessageService" level="DEBUG" />-->
<!--    <logger name="bubble.dao.account.message.AccountMessageDAO" level="DEBUG" />-->
    <logger name="bubble.resources.message" level="INFO" />
    <logger name="bubble.app.analytics" level="DEBUG" />
    <logger name="bubble.app.passthru" level="DEBUG" />
    <logger name="org.cobbzilla.util.io.regex.RegexFilterReader" level="WARN" />
    <logger name="org.cobbzilla.util.io.multi" level="INFO" />
    <logger name="bubble.rule.social.block" level="INFO" />
    <logger name="bubble.rule.passthru" level="DEBUG" />
<!--    <logger name="bubble.service.cloud.StandardNetworkService" level="INFO" />-->
<!--    <logger name="bubble.service.cloud.AnsiblePrepService" level="DEBUG" />-->
    <logger name="bubble.resources.notify" level="WARN" />
    <logger name="bubble.client" level="WARN" />
    <logger name="bubble.main.rekey" level="INFO" />
    <logger name="bubble" level="INFO" />

    <root level="INFO">
        <appender-ref ref="STDERR" />
    </root>

</configuration>
