algo_version={{ algo_version }}
algo_sha={{ algo_sha }}
dnscrypt_proxy_version={{ dnscrypt_proxy_version }}
dnscrypt_proxy_sha={{ dnscrypt_proxy_sha }}
mitmproxy_version={{ mitmproxy_version }}
mitmproxy_sha={{ mitmproxy_sha }}
