export PUBLIC_BASE_URI={{ public_base_uri }}
export BUBBLE_ASSETS_DIR=/home/bubble/site
export SELF_NODE={{ node_uuid }}
export SAGE_NODE={{ sage_node }}
export LETSENCRYPT_EMAIL={{ letsencrypt_email }}
export BUBBLE_SERVER_PORT={{ admin_port }}
export BUBBLE_TEST_MODE={{ test_mode }}
export BUBBLE_DEFAULT_LOCALE={{ default_locale }}
export ERRBIT_URL={{ errbit_url | default('') }}
export ERRBIT_KEY={{ errbit_key | default('') }}
export ERRBIT_ENV={{ errbit_env | default('') }}
